@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

@import "normalize.scss";
@import "reset.scss";
@import "variables.scss";

html,
body {
    background-color: $bg-color;
    font-size: $font-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: 100%;
    max-width: 1201px;
    margin: 0 auto;
    padding: 0 1em;
}
