
@import "../../styles/variables.scss";
.home {    
    .filter_wrapper {
        width: 380px;
    }

    .jobs,
    .no-results-found {
        flex: 1;
    }

    .no-results-found {
        font: 600 1.8rem Montserrat,sans-serif;
        color: $light-gray;
        .sad-face {
            font-size: 3rem;
            margin-bottom: 1rem;        
        }
    }

    @media (max-width: 768px) {
        .filter_wrapper {
            margin-bottom: 1.5em;
        }
    }
}