.home {    
    .filter_wrapper {
        width: 380px;
    }

    .jobs {
        flex: 1;
    }

    @media (max-width: 768px) {
        .filter_wrapper {
            margin-bottom: 1.5em;
        }
    }
}