.header {
    height: 36px;    
    .navbar {        
        .navbar_brand {
            font-family: Poppins, sans-serif;
            font-style: normal;
            font-size: 1.8em;
            line-height: 36px;
            color: #282538;
            b {
                font-weight: bold;
            }
        }
    }
}